<!-- ----- début fragmentCaveMenu -->

<nav class="navbar navbar-expand-lg bg-success fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="router1.php?action=CaveAccueil">diffo Pouna</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" 
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
  
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">Patient</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="router1.php?action=vinReadAll">Mon compte</a></li>
              <li><a class="dropdown-item" href="router1.php?action=vinReadId">Liste de mes rendez-vous</a></li>
              <li><a class="dropdown-item" href="router1.php?action=vinCreate">Prendre rendez-vous avec un praticien</a></li>
               
            </ul>
          </li>
  
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">Se connecter</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="router2.php?action=producteurReadAll">Login</a></li>
              <li><a class="dropdown-item" href="router2.php?action=producteurReadId">s'inscrire</a></li>
              <li><a class="dropdown-item" href="router2.php?action=producteurCreate">deconnexion</a></li>
              
              
  
  
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">Innovation</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="router2.php?action=producteurReadAll">to add</a></li>
              <li><a class="dropdown-item" href="router2.php?action=producteurReadId">to add</a></li>
              
              
              
  
  
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav> 
  
  <!-- ----- fin fragmentCaveMenu -->